.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
Forest.cpg
Forest.dbf
Forest.geojson
Forest.shp
Forest.prj
Forest.shx
Forest_Area.cpg
Forest_Area.dbf
Forest_Area.geojson
Forest_Area.shx
MoreThan2.cpg
Forest_Area.prj
SpatialData
RichnessParallel.csv
Forest_Area.shp
MoreThan2.dbf
MoreThan2.prj
MoreThan2.shp
MoreThan2.shx
README_cache/*
